.cta-button{
  display: inline-block;

  margin: 0 auto 10px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--color-btn);

  text-transform: uppercase;  
  color: var(--color-bg);
  font-weight: 800;
  font-size: 14px;
  text-align: center;

  cursor: pointer;
}