.home-header{
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 90px;
  width: 100%;

  background: var(--color-first);
  color: #fff;
}

.home-header > .title{
  display: block;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.home-header > .icon-header{
  transform: translateY(5px)
}
/* font-size: 40px; */

@media only screen and (min-width : 600px) {
  .home-header > .title{  
    font-size: 30px;
  }
}

@media only screen and (min-width : 900px) {
  .home-header > .title{  
    font-size: 36px;
  }
}

