.about-author{
  margin: 70px auto 0;
}

.about-author > .image{
  display: block;
  width: 150px;
  margin: 0 auto;  
}

.about-content {
  line-height: 1.6;
  margin-left: 15px;
} 

.about-content > .title{
  color: var(--color-first)
}

.about-content > .content{
  color: var(--color-fontBody)
}

@media only screen and (min-width : 600px) {
  .about-author{
    max-width: 700px;
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: 1fr 3fr;  
    align-items: center;
  }

  .about-author > .image{
    margin: 0;  
  }
}