.main-footer{
  text-align: center;
  padding: 50px 0 0;
}

.main-footer > .titleCta{
  text-transform: uppercase;
  font-size: 20px;
  color: var(--color-fontBody);
  padding: 0 10px;
}

.main-footer > .title,
.main-footer > .subtitle {
  font-family: 'Dosis', sans-serif;  
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-first);
  padding: 0 10px;
  
}

.main-footer > .title{
  font-size: 26px;
}

.main-footer > .subtitle{
  margin-bottom: 20px;
}
