.cta-container{
  width: 100%;
}

.cta-container > .image{
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width : 600px) {
 .cta-container{
    height: max-content;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    align-content: center;
  }

  .cta-container > .image{  
    transform: translateY(10px);
  }  
}