.content-main{  
  /* min-height: 100vh; */
  padding: 20px 10px;

  background-color: var(--color-bg);  
}

.content-main > .title,
.content-main > .subTitle{
  font-family: 'Dosis', sans-serif;  
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  
}

.content-main > .title{
  font-size: 30px;  
  color: var(--color-first)
}

.content-main > .subTitle{
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--color-fontBody)
}

@media only screen and (min-width : 600px) {
  .content-main {
    padding: 50px 10px;  
  }

  .content-main > .title{
    font-size: 33px;      
  }

  .content-main > .subTitle{
    font-size: 22px; 
    margin-bottom: 50px;
  }
}

 @media only screen and (min-width : 900px) {
  .content-main > .title{
    font-size: 36px;      
  }

  .content-main > .subTitle{
    font-size: 24px; 
  }
}




