.CTA-box{
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.CTA-box > .title {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--color-first)
}

.CTA-box > .content {
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--color-fontBody)
}