@import url('https://fonts.googleapis.com/css?family=Dosis:500|Montserrat|Petit+Formal+Script');

:root{
  --color-first: #34626D;
  --color-bg: #F1FCFF;
  --color-btn: #FF7518;  
  --color-fontBody: #747474;
  --color-bar-footer: #555273;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; 
  transition: all 200ms linear; 
}
 

/* 

font-family: 'Petit Formal Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;

*/
